@use "../abstract/" as *;
@use "../base/" as *;

$default-padding: 4rem 0;
.homeBanner {
  
  padding: 4rem 0;
  color: $clr--light;
  &__wrapper {
    @include gridFixed(2, 1rem);
    align-items: center;
    @include mediaQuery(520px){
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &__left {
    small {
      text-transform: uppercase;
    }
    h1 {
      line-height: 4rem;
      margin: 2rem 0;
    }
    p {
      margin-bottom: 2rem;
    }
  }
  @include mediaQuery(520px){
    padding-top: 12rem;
  }
}

.homeAbout {
  padding: 4rem 0;
  &__wrapper {
    @include gridFixed(2, 3rem);
    align-items: center;
    @include mediaQuery(520px){
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &--a {
    grid-area: a;
  }
  &--b {
    grid-area: b;
  }
  &--c {
    grid-area: c;
  }
  &__left {
    ul {
      display: grid;
      grid-template-areas:
        "a c"
        "b c";
      align-items: center;
      gap: 1rem;
    }
  }
  &__right {
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeClass {
  padding: 4rem 0;
  &__slider {
    display: flex;
    gap: 2rem;
  }
  .listButton {
    margin-top: 2rem;
    @include centerAll;
  }
}
.homeTrainer {
  padding: $default-padding;

  // &__wrapper {
  //   @include gridCustom("1fr",2rem);
  // }
  &__title {
    @include between;
    margin-bottom: 2rem;
    h2 {
      max-width: 40rem;
    }

    @include mediaQuery(520px) {
      flex-direction: column;
      justify-content: center;
      h2 {
        text-align: center;
      }
    }
  }

  &__cards {
    @include gridFixed(3, 1rem);
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      gap: 1rem;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
}
