@use '../abstract/' as *;
@use "../base/typography" as *;

.footer { 
    color: $clr--light;
    padding: 2rem 0;
    &__wrapper {
        
        @include between;
        
          @include mediaQuery(520px) {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    }

    &__social {
        display: flex;
        gap: 2rem;
        li a {
            color: $clr--light;
        }
    }
    
}