@use '../abstract/' as *;
@use "../base/typography" as *;

.footer { 
    color: $clr--light;
    padding: 2rem 0;
    &__wrapper {
        
        @include between;
        
          
    }

    &__social {
        display: flex;
        gap: 2rem;
        li a {
            color: $clr--light;
        }
    }
    
}